<content data-theme="ikea" data-context="app-ui-layout">
	<div class="showcase">
		<div class="outlines">
			<h1>IKEA</h1>
			
			<div class="details">
				<div class="row-1" data-id="name">&#160;</div>
				<div class="row-2">
					<span title="Assembly Time" data-id="assembly" data-suffix="min">&#160;</span>
					<span title="Steps" data-id="steps" data-suffix="steg">&#160;</span>
					<span title="Parts" data-id="parts" data-suffix="delar">&#160;</span>
				</div>
				<div class="row-3" data-id="description">&#160;</div>
			</div>
		</div>
	</div>

	<div class="timeline" data-area="timeline">
		<span class="btn" data-click="toggle-play">Toggle Play</span>
		<span class="btn blue" data-click="goto-start">Start</span>
		<span class="btn" data-click="goto-prev-step">Previous</span>
		<span class="btn" data-click="goto-next-step">Next</span>
		<ul class="steps">
			<li data-click="goto-step" data-arg="1">1</li>
			<li data-click="goto-step" data-arg="2">2</li>
			<li data-click="goto-step" data-arg="3">3</li>
		</ul>
		<span class="btn" data-click="build-completed">Completed</span>
	</div>

	<!-- for game solved -->
	<div class="congratulations" data-click="close-congratulations">
		<h2>
			You have built
			<span>Torus</span>
		</h2>
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>
	</div>
</content>
