<content data-show="blank-view" data-theme="ikea" data-context="app-ui-layout">
	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>
	
	<div class="showcase" data-area="showcase">
		<div class="outlines">
			<h1>IKEA</h1>
			<h2 data-prefix="Steg">1</h2>
			
			<div class="details">
				<div class="row-1" data-id="name">&#160;</div>
				<div class="row-2">
					<span title="Assembly Time" data-id="assembly" data-suffix="min">&#160;</span>
					<span title="Steps" data-id="steps" data-suffix="steg">&#160;</span>
					<span title="Parts" data-id="parts" data-suffix="delar">&#160;</span>
				</div>
				<div class="row-3" data-id="description">&#160;</div>
			</div>
		</div>
	</div>

	<!-- for game solved -->
	<div class="congratulations" data-click="close-congratulations">
		<h2>
			You have built
			<span>&#160;</span>
		</h2>
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>
	</div>
</content>
