<content data-theme="ikea" data-context="app-ui-layout">
	<div class="showcase">
		<div class="outlines">
			<h1>IKEA</h1>
			
			<div class="details">
				<div class="row-1" data-id="name">&#160;</div>
				<div class="row-2">
					<span title="Assembly Time" data-id="assembly" data-suffix="min">&#160;</span>
					<span title="Steps" data-id="steps" data-suffix="steps">&#160;</span>
					<span title="Parts" data-id="parts" data-suffix="parts">&#160;</span>
				</div>
				<div class="row-3" data-id="description">&#160;</div>
			</div>
		</div>
	</div>

	<div class="timeline" data-area="timeline">
		<span class="btn" data-click="toggle-play">Toggle Play</span>
		<span class="btn" data-click="goto-prev-step">Previous</span>
		<span class="btn" data-click="goto-next-step">Next</span>
		<ul class="steps">
			<li data-click="goto-step" data-arg="1">1</li>
			<li data-click="goto-step" data-arg="2">2</li>
			<li data-click="goto-step" data-arg="3">3</li>
		</ul>
	</div>
</content>
