
background: transparent;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		pointer-events: none;
	}

	&[data-theme="3d"] {
		background: #eee radial-gradient(circle at 50% 50%, #fff, #fff 9%, #eee 95%);

		&:after {
			--c1: #0000000a;
			--c2: #00000007;
			background-image: repeating-linear-gradient(90deg, var(--c1) 0, var(--c1) 1px, transparent 1px, transparent 60px),
								repeating-linear-gradient(0deg, var(--c1) 0, var(--c1) 1px, transparent 1px, transparent 60px),
								repeating-linear-gradient(0deg, var(--c2) 0, var(--c2) 1px, transparent 1px, transparent 15px),
								repeating-linear-gradient(90deg, var(--c2) 0, var(--c2) 1px, transparent 1px, transparent 15px);
			background-position: 0 0;
		}
	}

	&[data-theme="ikea"] {
		background: #eee radial-gradient(circle at 50% 50%, #fff, #fff 9%, #eee 95%);

		&:after {
			--c1: #0000000a;
			--c2: #00000007;
			background-image: repeating-linear-gradient(90deg, var(--c1) 0, var(--c1) 1px, transparent 1px, transparent 60px),
								repeating-linear-gradient(0deg, var(--c1) 0, var(--c1) 1px, transparent 1px, transparent 60px),
								repeating-linear-gradient(0deg, var(--c2) 0, var(--c2) 1px, transparent 1px, transparent 15px),
								repeating-linear-gradient(90deg, var(--c2) 0, var(--c2) 1px, transparent 1px, transparent 15px);
			background-position: 0 0;
		}
	}

	&[data-theme="blueprint"] {
		background: #2d2e83 radial-gradient(circle at 50% 50%, #379fd9, #379fd9 9%, #3159a3 95%);

		&:after {
			--c1: #ffffff0e;
			--c2: #ffffff0a;
			background-image: repeating-linear-gradient(90deg, var(--c1) 0, var(--c1) 1px, transparent 1px, transparent 60px),
								repeating-linear-gradient(0deg, var(--c1) 0, var(--c1) 1px, transparent 1px, transparent 60px),
								repeating-linear-gradient(0deg, var(--c2) 0, var(--c2) 1px, transparent 1px, transparent 15px),
								repeating-linear-gradient(90deg, var(--c2) 0, var(--c2) 1px, transparent 1px, transparent 15px);
			background-position: 0 0;
		}

		.showcase {
			.outlines {
				position: absolute;
				top: 17px;
				left: 17px;
				width: 930px;
				height: 570px;
				border: 1px solid #fff;

				&:before {
					content: "";
					position: absolute;
					top: -7px;
					left: -7px;
					right: -7px;
					bottom: -7px;
					border: 2px solid #fff;
				}
			}

			canvas {
				filter: hue-rotate(-7deg) saturate(1.025) brightness(0.95);
			}
		}
	}

	.showcase {
		position: absolute;
		z-index: 2;

		canvas {

		}
	}
}
